<h1>Willkommen, <%= user.username %>!</h1>
<p>Role: <%= user.role %></p>
<ul>
  <li><a href="/penalties">Strafen ansehen</a></li>
  <% if (user.role === 'admin') { %>
    <li><a href="/users">Benutzer verwalten</a></li>
    <li><a href="/penalties/new">Strafe eintragen</a></li>
    <li><a href="/register">Benutzer anlegen</a></li>
  <% } %>
  <li><a href="/logout">Abmelden</a></li>
</ul>
