<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spießbuch</title>
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#3e4e3e" />
  <script src="/script.js" defer></script>
</head>
<body>
 <%- typeof body !== 'undefined' ? body : '' %>

</body>
</html>
