<h1>Login</h1>
<form method="POST" action="/login">
  <label>Benutzername:</label>
  <input name="username" required>
  <label>Passwort:</label>
  <input type="password" name="password" required>
  <button type="submit">Einloggen</button>
</form>
